* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1258px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: relative;
  height: 768px;
}

.header__menu {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2.1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #0F0E22;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  z-index: -1;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__title {
  font-size: 6.4rem;
  line-height: 130%;
  color: #ffffff;
  max-width: 614px;
}

.header__img {
  position: relative;
  z-index: 20;
}

.nav {
  position: relative;
}

.nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 6rem;
}

.nav__link {
  color: #ffffff;
}

.about__container {
  position: relative;
  padding-top: 18.5rem;
  padding-bottom: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about__content {
  max-width: 906px;
}

.about__heading {
  color: #000000;
  font-size: 3.2rem;
  margin-bottom: 4rem;
  line-height: 4.8rem;
}

.about__descr {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: #000000;
}

.about__img {
  position: absolute;
  left: 200px;
  top: -145px;
}

.about__img--2 {
  top: inherit;
  bottom: 145px;
  left: 15px;
}

.projects {
  position: relative;
  padding-bottom: 96px;
}

.projects::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 670px;
  bottom: 0;
  left: 0;
  background: #100E33;
  -webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 92%);
          clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 92%);
  z-index: -1;
}

.projects__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  margin-bottom: 6.8rem;
}

.projects__imgs-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.projects__imgs-col img {
  width: 100%;
}

.projects__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  gap: 10px;
}

.projects__title {
  position: relative;
  font-size: 3.2rem;
  line-height: 4.8rem;
  margin-right: 50px;
}

.projects__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.projects__descr {
  max-width: 594px;
  width: 100%;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
}
/*# sourceMappingURL=style.css.map */